<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>48183334696-k48nfpalsaem59mo1q7ds1nc9po8tfgt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.48183334696-k48nfpalsaem59mo1q7ds1nc9po8tfgt</string>
	<key>API_KEY</key>
	<string>AIzaSyAkinFdr6NQSdaeIOmXX_nfvhflo4G-WJI</string>
	<key>GCM_SENDER_ID</key>
	<string>48183334696</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.monash.Tripo</string>
	<key>PROJECT_ID</key>
	<string>fit3178-tripo</string>
	<key>STORAGE_BUCKET</key>
	<string>fit3178-tripo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:48183334696:ios:01ce8835b1d6e82108a21d</string>
</dict>
</plist>